{% extends "base.html" %}
{%- from "layout-header.html" import layout_header -%}
{%- from "footer-layout.html" import footer_layout -%}
{%- from "ready-index-layout.html" import ready_index_layout -%}
{%- from "default-index-layout.html" import default_index_layout -%}
{% set is_authenticated = current_user.is_authenticated%}
{% block content%}

<!-- adding headers -->
{{ layout_header(is_authenticated=is_authenticated) }}

<!-- setting urls  -->

<div class="container-fluid" id="main">

    <div class="row" id="quickUrl">

<!--        <div class="col-xs-auto col-sm-3 col-md-3 col-lg-3 col-xl-3">-->
<!--            &lt;!&ndash; empty column &ndash;&gt;-->
<!--        </div>-->

        <div class=" col-xs-12 col-sm-9 col-md-6 col-lg-6 col-xl-6">
            <h6>Account settings and management</h6>
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#deleteModal">
                Delete account
            </button>
            <!--      <a href="#" class="btn btn-link" role="button">Delete account</a>-->

            <!-- The Delete Modal -->
            <div class="modal fade" id="deleteModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">You cannot undo this action!</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            All data about your links and statistics will be lost!
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <a href="{{url_for('user.delete_account')}}" class="btn btn-danger" role="button">Delete</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- end col-->

<!--        <div class="col-xs-auto col-sm-auto col-md-3 col-lg-3 col-xl-3">-->
<!--            &lt;!&ndash; empty column &ndash;&gt;-->
<!--        </div>-->
    </div>
    <!-- end row quickUrl -->

</div>
<!-- end main container -->
{% endblock%}

<!-- adding footers -->
{{ footer_layout() }}